/*//////////////////////////////////////*/
/* 				CLASSIQUE				*/
/*//////////////////////////////////////*/

#titre, #home{
	color: white;
	text-align: center;
	font-family: "lucida console";
	text-decoration: none;
}

#titre{
	font-size: 17px;
	float: left;
	margin-left: 30px;
	margin-top:21.5px;
}

#post-container a{
	text-decoration: none;
	color: red;
}

#copyright{
	text-align: right;
	margin-right: 30px;
	float: right;
	margin-top: 21.5px;
}

.loader{
	position : fixed;
	z-index: 1;
	background : url('/imgs/icon-loader2.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	cursor : wait;
}

.custom-link{
	text-decoration: none;
	font-family: "lucida console";
	color: white;
}

.custom-link:hover{
	color: #FE3838;
	transition-duration: 0.5s;
}

html{
	background-color: rgb(51,51,51);
	background-image: url('/imgs/background-2.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

footer{
	background-color: #191919;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 5%;
	height: 65px;
}

.header-content{
	background-color: #191919;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	height: 60px;
}

#menu{
	float: right;
	margin-right: 30px;
	color: white;
	font-family:  "lucida console";
	text-align: right;
}

#menu-links{
	list-style: none;
	margin-top: 23px;
}

#menu-links li{
	display: inline-block;
	font-size: 14px;
}

.sep{
	color: rgba(255,255,255,0.3);
}

#social-links{
	padding:0;
	text-align: left;
	margin-left: 15px;
	float: left;
	list-style: none;
	list-style-position: outside;
}

#social-links li{
	display: inline-block;
	padding-left: 5px;
	margin-top: 3px;
}

.social-icons{
	width: 27px;
}

.social-icons:hover{
	filter: invert(1);
	transition-duration: 0.5s;
}

#big-container{
	min-height: 800px;
	margin-top: 150px;
}

#post-container{
	width: 1200px;
	max-width: 90%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: white;
	border-radius: 10px;
	position: relative;
}

#title{
	font-size: 35px;
	font-family:'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
	text-align: center;
	padding-top: 20px;
	color: #1d1d1d;
}

.subtitle{
	font-size: 25px;
	font-family:'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
	color: #333;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	padding-bottom: 10px;
}

.text{
	font-family:'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 100%;
	color: #333;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
	text-align: justify;
	padding-bottom: 2.5%;
}

.alignToLeft{
	float: left;
	/*Centrage vertical*/
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	text-align: left;
}

.alignToRight{
	float: right;
	margin-left: 10%;
	/*background-color: red;*/
	width: 45%;
	text-align: left;
}

.clear{
	clear:both;
}

.row{
	display: flex; /* contexte sur le parent */
}


/*//////////////////////////////////////*/
/* 				RESPONSIVE				*/
/*//////////////////////////////////////*/

@media (max-width: 700px){
	html{
		background-image: url('/imgs/mobile_background.png');
		background-size: contain;
	}

	#titre{
		text-align: center;
		float: unset;
		margin-top: 22.7px;
		margin-left: 0;
		margin-right: 0;
	}

	.header-content{
		height: 100px;
		margin: 0;
	}

	.custom-link:focus{
		color: #FE3838;
		transition-duration: 0.5s;
	}

	#menu{
		float: unset;
		color: white;
		font-family:  "lucida console";
		text-align: center;
	}

	#menu-links{
		margin-top: 22.7px;
	}

	#menu-links li{
		font-size: 14px;
		margin-left: 0;
		margin-right: 0;
	}

}

@media (max-width: 600px){
	#title{
		font-size: 25px;
	}


	.text{
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15%;
		padding-right: 15%;
	}

	.subtitle{
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		text-align: center;
	}

	.alignToLeft{
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 15%;
	}

	.alignToRight{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}

	.row{
		flex: none;
		display: block;
	}

	#iq{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	#langages{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15%;
	}

	.langages-text{
		text-align: center;
	}

}

@media (max-width: 400px){

	#title{
		font-size: 25px;
	}

	.text{
		text-align: left;
		margin-left: 2px;
		padding-left: 15%;
		padding-right: 15%;
	}

	.subtitle{
		margin-left: auto;
		margin-right: auto;
		width: 60%;
		text-align: center;
	}

	#social-links{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		float: unset;
		margin-bottom: 10px;
	}

	#copyright{
		text-align: center;
		float: unset;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
	}

	footer{
		height: 105px;
	}
}
