html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

#content a{
  color: rgb(243, 60, 47);
}

/* HEADER */

#header{
  background-image: url("../imgs/headers/header1.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left:0;
  right:0;
  padding-top: 20%;
  padding-bottom: 20%;
}

#header h1{
  font-family: "Montserrat Semi-Bold";
  font-size: 4em;
  text-align: center;
  color: white;
}

#header h2{
  margin-top: -2%;
  font-family: "Montserrat Medium";
  font-size: 2em;
  text-align: center;
  color: white;
}

#header h2 #typedSkills{
  color: rgb(243, 60, 47);
}

/* INTRODUCTION */

#introduction{
  border-top: 3px solid rgb(50, 50, 50);
  background-color: rgb(22, 22, 22);
  top: 0;
  left:0;
  right:0;
  padding-top: 5%;
  padding-bottom: 10%;
}

#introduction h1{
  margin: 0;
  font-family: "Montserrat Semi-Bold";
  font-size: 4em;
  text-align: center;
  color: white
}

#introduction-content{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  height: 90%;
}

#id-photo img{
  float: left;
  border-radius: 50%;
  width: 220px;
  border: 0.8px solid rgb(179, 179, 179);
}

#introduction-text{
  color: white;
  margin-left: 5%;
  float: right;
}

#introduction-text h2{
  font-family: "Montserrat Semi-Bold";
  margin-top: 1%;
}

#introduction-text p{
  font-family: "Montserrat Regular";
}

/* SKILLS */

#skills{
  border-top: 3px solid rgb(90, 89, 89);
  background-color:  white;
  top: 0;
  left:0;
  right:0;
  padding-top: 5%;
  padding-bottom: 10%;
}

#skills h1{
  margin: 0;
  font-family: "Montserrat Semi-Bold";
  font-size: 4em;
  text-align: center;
}

#skills h2{
  font-family: "Montserrat Semi-Bold";
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 3%;
}

#skills ul{
  list-style-type: none;
  margin-top: 2%;
}

.skills{
  display: flex;
  margin-bottom: -2%;
}

.skills li{
  margin-left: 50px;
  float: left;
  font-family: "Montserrat Medium";
  font-size: 16px;
  text-align: center;
  height: 120px;
}

#skills img{
  width: 64px;
  height: 64px;
}


/* PROJECTS */

#projects{
  border-top: 3px solid rgb(90, 90, 90);
  background-color: rgb(22, 22, 22);
  top: 0;
  left:0;
  right:0;
  padding-top: 5%;
  padding-bottom: 10%;
  color: white;
}

#projects h1{
  margin: 0;
  font-family: "Montserrat Semi-Bold";
  font-size: 4em;
  text-align: center;
}

#projects-content{
  width: 50%;
  margin-top: 5%;
	margin-right: auto;
  margin-left: auto;
}

.project{
	border-radius: 25px;
}

.project:hover{
	filter:grayscale(1);
	transition-duration:0.5s;
}

.projects-boxes .project + .project{
  margin-left: 5%;
}

.projects-boxes .project{
	display: block;
	width: 30%;
	margin-top: 3.95%;
	padding-bottom: 30.7%;
	float: left;
	position: relative;
	background-size: cover;
	background-position: center;
}

#more-projects{
  background: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
  padding-right: 8px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
	width: 100;
	font-weight: bold;
	font-size: 18px;
	color: white;
	border-color: white;
	border-width: 3px;
	border-radius: 5px;
	display: block;
	border-style: solid;
}

#more-projects:hover{
  background: white;
	transition-duration: 0.50s;
	cursor: pointer;
	color: #191919;
}

.clear{
	clear:both;
}

/* CONTACT */

#contact{
  border-top: 3px solid rgb(90, 89, 89);
  top: 0;
  left:0;
  right:0;
  padding-top: 5%;
  padding-bottom: 10%;
}

#contact h1{
  margin: 0;
  font-family: "Montserrat Semi-Bold";
  font-size: 4em;
  text-align: center;
}

#contact p{
  font-size: 2em;
  text-align: center;
}

#contact-text{
  font-family: "Montserrat Regular";
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#social-links{
  max-width: 35%;
  /* Allows to center social icons */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
}

#social-links a{
  position: relative;
  margin-left: 5%;
  margin-right: 0%;
}

#social-links a:nth-child(1){
  margin-left: 0;
}

.social-icons{
	width: 50px;
}

.social-icons:hover{
	filter: brightness(1.5);
	transition-duration: 0.5s;
}

@media(max-width: 1500px){
  #more-projects{
    margin-top: 10%;
  }
}

@media(max-width: 900px){
  #introduction-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 70%;
    height: 90%;
  }

  #id-photo{
    text-align: center;
  }

  #id-photo img{
    float: none;
    border-radius: 50%;
    width: 180px;
    border: 0.8px solid rgb(179, 179, 179)
  }

  #introduction-text{
    color: white;
    margin-left: 5%;
    float: none;
  }
  
  #skills h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .skills ul{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
  }

  .skills li{
    min-height: 60%;
    margin-left: 5%;
    word-wrap: break-word;  
    width: 20%;
  }

  .skills li:nth-child(4n+1){
    margin-left: 0 !important;
  }
}


@media(max-width: 500px){
  #header h1, #introduction h1, #skills h1, #projects h1, #contact h1{
    font-size: 3em;
  }

  #header h2{
    font-size: 1.5em;
  } 

  .skills ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
  }

  .skills li{
    min-height: unset;
    margin-left: 0;
    word-wrap: break-word;  
    width: 33.33%;
  }

  .skills li:nth-child(3n+1){
    margin-left: 0 !important;
  }
}