html > * {
  font-family: "Inconsolata Regular";
  color: white;
}

html {
  background-color: #2A3661;
}

#topbar {
  height: 90px;
}
#topbar #topbar-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}
#topbar #topbar-content nav {
  padding: 0 2%;
}
#topbar #topbar-content nav #menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  gap: 50px;
}
#topbar #topbar-content nav #menu li[class~=active] {
  background: linear-gradient(160deg, rgba(126, 126, 126, 0.7470588577) 0%, rgba(154, 154, 154, 0.671) 70%, rgba(223, 221, 221, 0.432) 100%);
  border: 1px solid rgba(255, 255, 255, 0.69);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 1.5% 2.5%;
}
#topbar #topbar-content nav #menu li:hover {
  cursor: pointer;
}
#topbar #topbar-content nav #menu li:hover:not([class~=active]) {
  transition-duration: 500ms;
}

#hero {
  background-color: red;
  display: flex;
  justify-content: center;
  height: calc(100vh - 90px);
}
#hero .content {
  width: 70%;
  height: 100%;
}
#hero .content .left {
  display: flex;
  justify-content: center;
}
#hero .content .left .name {
  font-weight: bold;
  font-size: 60pt;
  letter-spacing: 0%;
  display: flex;
}
#hero .content .left .name .name-part {
  display: flex;
}
#hero .content .left .name .name-part .doubled-letter {
  text-shadow: -4px -3px 0 white;
}
#hero .content .left .name .name-part .doubled-letter.red {
  color: #FF6969;
  margin-right: 5px;
}
#hero .content .left .name .name-part .doubled-letter.green {
  color: #4DAF4B;
  margin-right: 10px;
}
#hero .content .left .description {
  font-size: 20pt;
}
#hero .content .right {
  display: flex;
  justify-content: center;
}
#hero .content .right .macaron {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .content .right .macaron.morph {
  align-self: flex-end;
  width: 267.32px;
  height: 267.32px;
  background: linear-gradient(180deg, #6D4242 0%, #AE6969 100%);
  box-shadow: 0px 35.6425px 71.285px rgba(29, 18, 18, 0.401), inset 0px -14.7322px 14.7322px #643C3C, inset 0px 14.7322px 14.7322px #B76E6E;
  border-radius: 100%;
}
#hero .content .right .macaron.morph:hover {
  cursor: pointer;
}
#hero .content .right .macaron.morph img {
  height: 60%;
}

.skills {
  background-color: green;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.skills h1 {
  font-size: 4em;
  padding-top: 1%;
  text-align: center;
}
.skills .short {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.skills .short .row {
  height: 60vh;
  aspect-ratio: 1/1;
  gap: 20px;
}
.skills .short .row > * {
  flex: 0 0 auto;
  width: calc(50% - 10px);
}
.skills .short .row .col .skill-tile {
  width: 100%;
  height: 100%;
  background: radial-gradient(120.77% 306.01% at -2.31% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
  border-radius: 36px;
}
.skills .short .row .col .skill-tile .col {
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5%;
}
.skills .short .row .col .skill-tile .col .skill-badge {
  width: 70%;
}
.skills .short .row .col .skill-tile .col span {
  color: white;
  font-family: "Inconsolata Regular";
  text-align: center;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
