html > * {
  font-family: "Inconsolata Regular";
  color: white;
}

html {
  background-color: #2A3661;
}

h1 {
  font-size: 4em;
  padding-top: 1%;
  text-align: center;
}

.underlined {
  display: inline-block;
}
.underlined .line {
  border: 1px solid;
  margin-top: -2%;
}
.underlined .line.red {
  border-color: #FF6969;
}
.underlined .line.green {
  border-color: #4DAF4B;
}

#topbar {
  height: 90px;
}
#topbar #topbar-content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
}
#topbar #topbar-content nav {
  padding: 0 2%;
}
#topbar #topbar-content nav #menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  gap: 50px;
}
#topbar #topbar-content nav #menu li[class~=active] {
  background: linear-gradient(160deg, rgba(126, 126, 126, 0.7470588577) 0%, rgba(154, 154, 154, 0.671) 70%, rgba(223, 221, 221, 0.432) 100%);
  border: 1px solid rgba(255, 255, 255, 0.69);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 1.5% 2.5%;
}
#topbar #topbar-content nav #menu li:hover {
  cursor: pointer;
}
#topbar #topbar-content nav #menu li:hover:not([class~=active]) {
  transition-duration: 500ms;
}

#hero {
  display: flex;
  justify-content: center;
  height: calc(100vh - 90px);
}
#hero .content {
  width: 70%;
  height: 100%;
}
#hero .content .left {
  display: flex;
  justify-content: center;
}
#hero .content .left .name {
  font-weight: bold;
  font-size: 60pt;
  letter-spacing: 0%;
  display: flex;
}
#hero .content .left .name .name-part {
  display: flex;
}
#hero .content .left .name .name-part .doubled-letter {
  text-shadow: -4px -3px 0 white;
}
#hero .content .left .name .name-part .doubled-letter.red {
  color: #FF6969;
  margin-right: 5px;
}
#hero .content .left .name .name-part .doubled-letter.green {
  color: #4DAF4B;
  margin-right: 10px;
}
#hero .content .left .description {
  font-size: 20pt;
}
#hero .content .right {
  display: flex;
  justify-content: center;
}
#hero .content .right span {
  font-family: "Gloria Hallelujah Regular";
  font-size: 1.2rem;
  width: max-content;
}
#hero .content .right .arrow {
  height: 60px;
  width: max-content;
  margin-top: 5%;
  margin-left: 5%;
}
#hero .content .right .macaron {
  perspective: 1000px;
  margin-top: 10%;
}
#hero .content .right .macaron.morph {
  align-self: flex-end;
  width: 267.32px;
  height: 267.32px;
  background: linear-gradient(180deg, #6D4242 0%, #AE6969 100%);
  box-shadow: 0px 35.6425px 71.285px rgba(29, 18, 18, 0.401), inset 0px -14.7322px 14.7322px #643C3C, inset 0px 14.7322px 14.7322px #B76E6E;
  border-radius: 100%;
}
#hero .content .right .macaron.morph .inner {
  height: 100%;
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
#hero .content .right .macaron.morph:hover {
  cursor: pointer;
}
#hero .content .right .macaron.morph:hover .inner {
  transform: rotateY(180deg);
}
#hero .content .right .macaron.morph:hover .inner .front img {
  display: none !important;
}
#hero .content .right .macaron.morph .front,
#hero .content .right .macaron.morph .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#hero .content .right .macaron.morph .back {
  transform: rotateY(180deg);
}
#hero .content .right .macaron.morph .back img {
  border-radius: 100%;
}
#hero .content .right .macaron.morph img {
  height: 60%;
}

#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#skills .menu {
  margin-top: 1%;
}
#skills .menu ul {
  display: flex;
  gap: 50px;
  font-size: 1.5em;
  list-style: none;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
#skills .menu ul li {
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
}
#skills .menu ul li.active {
  border-bottom: 5px solid white;
}
#skills .menu ul li:hover {
  cursor: pointer;
}
#skills .short,
#skills .long {
  display: none;
}
#skills .short.active,
#skills .long.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#skills .short > .row {
  height: 60vh;
  aspect-ratio: 1/1;
  gap: 20px;
}
#skills .short > .row > * {
  flex: 0 0 auto;
  width: calc(50% - 10px);
}
#skills .short > .row .col .skill-tile {
  width: 100%;
  height: 100%;
  background: radial-gradient(120.77% 306.01% at -2.31% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
  border-radius: 36px;
}
#skills .short > .row .col .skill-tile .col {
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5%;
}
#skills .short > .row .col .skill-tile .col .skill-badge {
  width: 70%;
}
#skills .short > .row .col .skill-tile .col span {
  color: white;
  font-family: "Inconsolata Regular";
  text-align: center;
}

.long > .row {
  width: 50%;
  height: 60vh;
}
.long > .row .left,
.long > .row .right {
  gap: 20px;
}
.long .skills-block {
  flex-grow: 0;
}
.long .skills-block .skills-category {
  font-size: 1.8rem;
}
.long .skills-block .skills-list {
  margin-left: 8%;
  flex-shrink: inherit;
}
.long .skills-block .skills-list .skill {
  font-size: 1.2rem;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#projects > .row {
  aspect-ratio: 1/1;
  gap: 20px;
  flex-grow: 1;
}
#projects > .row > .col {
  gap: 20px;
  justify-content: center;
  padding: 2% 0;
  align-items: center;
}
#projects > .row > .col .row {
  gap: 20px;
  width: 60%;
  height: 50%;
}
#projects > .row > .col .row .project-tile {
  background-color: yellow;
  border-radius: 20px;
}

#contact {
  display: flex;
  justify-content: center;
  height: calc(100vh - 90px);
}
#contact .row {
  width: 70%;
}
#contact .row .left,
#contact .row .right {
  justify-content: center;
  align-items: center;
}
#contact .row .left p {
  font-size: 1.5rem;
}
#contact .row .right .macaron {
  width: 266px;
  height: 266px;
  border-radius: 100%;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .row .right .macaron img {
  height: 65%;
}

#foot {
  height: 90px;
  background-color: #232C4E;
  display: flex;
  justify-content: center;
  align-items: center;
}
#foot p {
  width: max-content;
  font-size: 1.3;
}

@media (max-width: 750px) {
  #topbar {
    display: none;
  }
  #hero {
    height: 100vh;
  }
  #hero, #skills, #projects {
    gap: 15px;
  }
  body {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
