/* STYLESHEET FOR TERMINAL */
@font-face{
  font-family: "Consolas Linux";
  src: url("../fonts/Consolas.ttf");
}

#terminal{
  margin-top: 2.5%;
}

#terminalBody{
  background-color: rgb(37, 37, 37);
  width: 900px;
  height: 500px;
  border-radius: 0 0 8px 8px;
  overflow-y: auto;
  scrollbar-width: thin;
}

#terminalBody a{
  text-decoration: underline;
}

#terminalHeader{
  background: rgb(70, 70, 70);
  text-align: center;
  width: 900px;
  color: white;
  height: 30px;
  border-radius: 8px 8px 0 0;
}

#terminalBody, #terminalHeader{
  font-family: "Consolas", "Consolas Linux";
  margin: 0 auto;
}

#typed .introductionLabel {
  color: rgb(255, 21, 21);
}

/* RESPONSIVE */
@media (max-width: 1000px){
  #terminalBody, #terminalHeader{
    margin: 0 auto;
  }

  #terminal{
    margin-top: 10%;
  }
}

@media(max-width: 950px){
  #terminal, #terminalBody, #terminalHeader{
    display: none;
  }
}