$bg-color: #2A3661;
$top-bar-size: 90px;

html>* {
  font-family: 'Inconsolata Regular';
  color: white;
}

html {
  background-color: $bg-color;
}

#topbar {
  height: $top-bar-size;

  #topbar-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;

    nav {
      padding: 0 2%;

      #menu {
        display: flex;
        align-items: center;
        list-style: none;
        font-weight: 500;
        font-size: 20px;
        gap: 50px;

        li {
          &[class~='active'] {
            background: linear-gradient(160deg, rgba(126, 126, 126, 0.7470588577227766) 0%, rgba(154, 154, 154, 0.671) 70%, rgba(223, 221, 221, 0.432) 100%);
            border: 1px solid rgba(255, 255, 255, 0.69);
            backdrop-filter: blur(12px);
            border-radius: 12px;
            padding: 1.5% 2.5%;
          }

          &:hover {
            cursor: pointer;
          }

          &:hover:not([class~='active']) {
            transition-duration: 500ms;
          }
        }
      }
    }
  }
}

#hero {
  background-color: red;
  display: flex;
  justify-content: center;
  height: calc(100vh - $top-bar-size);

  .content {
    width: 70%;
    height: 100%;

    .left {
      display: flex;
      justify-content: center;

      .name {
        font-weight: bold;
        font-size: 60pt;
        letter-spacing: 0%;
        display: flex;

        .name-part {
          display: flex;

          .doubled-letter {
            text-shadow: -4px -3px 0 white;

            &.red {
              color: #FF6969;
              margin-right: 5px;
            }

            &.green {
              color: #4DAF4B;
              margin-right: 10px;
            }
          }
        }
      }

      .description {
        font-size: 20pt;
      }
    }

    .right {
      display: flex;
      justify-content: center;

      .macaron {
        display: flex;
        justify-content: center;
        align-items: center;

        &.morph {
          align-self: flex-end;
          width: 267.32px;
          height: 267.32px;
          background: linear-gradient(180deg, #6D4242 0%, #AE6969 100%);
          box-shadow: 2.18247e-15px 35.6425px 71.285px rgba(29, 18, 18, 0.401), inset -9.02089e-16px -14.7322px 14.7322px #643C3C, inset 9.02089e-16px 14.7322px 14.7322px #B76E6E;
          border-radius: 100%;

          &:hover {
            cursor: pointer;
          }

          img {
            height: 60%;
          }
        }
      }
    }
  }
}

.skills {
  $title-padding-top: 1%;

  background-color: green;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 4em;
    padding-top: $title-padding-top;
    text-align: center;
  }

  .menu {
    margin-top: 1%;

    ul {
      display: flex;
      gap: 50px;
      font-size: 1.5em;
      list-style: none;
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

      li {
        padding-bottom: 5px;

        &.selected {
          border-bottom: 5px solid white;
        }
        
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .short {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .row {
      height: calc(100vh * 60/100);
      aspect-ratio: 1/1;
      $gapvalue: 20px;
      gap: $gapvalue;

      >* {
        flex: 0 0 auto;
        width: calc(50% - $gapvalue/2);
      }

      .col {
        .skill-tile {
          width: 100%;
          height: 100%;
          background: radial-gradient(120.77% 306.01% at -2.31% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
          border-radius: 36px;

          .col {
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 5%;

            .skill-badge {
              width: 70%;
            }

            span {
              color: white;
              font-family: 'Inconsolata Regular';
              text-align: center;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}