$bg-color: #2A3661;

html {
  background-color: $bg-color;
}

#topbar {
  height: 90px;

  #topbar-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;

    nav {
      padding: 0 2%;

      #menu {
        display: flex;
        align-items: center;
        list-style: none;
        color: white;
        font-family: 'Inconsolata Regular';
        font-weight: 500;
        font-size: 20px;
        gap: 50px;

        li {
          &[class~='active'] {
            background: linear-gradient(160deg, rgba(126,126,126,0.7470588577227766) 0%, rgba(154, 154, 154, 0.671) 70%, rgba(223, 221, 221, 0.432) 100%);
            border: 1px solid rgba(255, 255, 255, 0.69);
            backdrop-filter: blur(12px);
            border-radius: 12px;
            padding: 1.5% 2.5%;
          }
          
          &:hover {
            cursor: pointer;
          }

          &:hover:not([class~='active']){
            transition-duration: 500ms;
          }
        }
      }
    }
  }
}

#hero {
  .name {
    color: white;
    font-family: 'Inconsolata Regular';
    font-weight: bold;
    font-size: 70pt;
    letter-spacing: 0%;
    display: flex;
    gap: 15px;
  }

  .doubled-letter {
    text-shadow: -4px -3px 0 white;

    &.red {
      color: #FF6969;
    }

    &.green {
      color: #4DAF4B;

    }
  }
}