@use '@/assets/styles/scss/variables' as vars;

html,
body,
#app {
  overflow: hidden;
  color: white;
  user-select: none;

  #typewriter {
    .typed-skill {
      color: rgb(219, 52, 52) !important;
    }
  }
}
