@import 'scss/reset';
@import 'scss/base';

body {
  background-color: #0e0075;
  font-weight: bold;
}

.hero {
  height: 100%;
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  h1 {
    font-size: calc(54vw * 100 / 1440);
    margin-bottom: calc(12vw * 100 / 1440);
  }

  p {
    font-size: calc(24vw * 100 / 1440);
  }
}

a {
  text-decoration: underline;
}

#head {
  width: 60%;
  height: 15%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    
    .menu-item {
      color: white;
      font-size: 14pt;
    }

    .menu-item.btn {
      background-color: #6054ba;
      border-radius: 25px;
      padding: 2% 4%;
      display: flex;
      width: 35%;
      justify-content: space-between;
      align-items: center;

      .btn-icon {
        height: 24px;
        width: 24px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
} 

#container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;


  #content-left, #content-right {
    display: flex;
    flex-direction: column;
  }

  #content-left {
    #device1 {
      margin-left: 45%;
      margin-top: 15%;
    }

    #device2 {
      margin-left: 75%;
      margin-top: -25%;
      transform: scale(1.2);
    }
  }

  #content-right {
    #device3 {
      margin-left: -55%;
      margin-top: -10%;
      transform: scale(0.7);

    }

    #device4 {
      margin-left: -70%;
      margin-top: -50%;
      transform: scale(0.7);
    }
  }

  #content-center {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    gap: 5%;

    #phrase {
      color: white;
      font-size: 65pt;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      #crossed {
        text-decoration: line-through white;
        color: #ff006e;
      }
    }

    #price-section {
      display: flex;
      gap: 5%;

      #price-left, #price-right #price-months {
        color: white;
      }

      #price-left, #price-center {
        align-self: flex-end;
      }

      #price-left, #price-right {
        font-size: 25pt;
      }

      #price-center {
        color: #ff006e;
        font-size: 45pt;
      }

      #price-right {
        display: flex;
        flex-direction: column;

        #price-cents {
          color: #ff006e;
          margin-bottom: -10%;
        }
      }
    }

    #choose-btn {
      width: 32.5%;
      padding: 1%;
      color: white;
      background: linear-gradient(0deg, #ff0671 0%, #ff3189 35%, #ff579f 100%);
      border-radius: 35px;
      font-size: 17pt;
    }
  }
}